@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    max-width: 600px;
    margin: auto;
    overflow-x: hidden;
    font-family: "Playfair Display"
}

header{
    background-color: var(--midnight-blue);
    justify-items: center;
}

header img{
    display: block;
    width: 45%;
    margin: 0 auto;
    justify-content: center;
}

header h1{
    color: var(--linen);
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
}

header p{
    text-align: center;
    color: var(--linen);
    font-style: italic;
    padding: 1rem 0 2rem;
}

nav{
    background-color: var(--champagne-gold);
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

nav li{
    padding: 0.75rem;
}

nav a{
    text-decoration: none;
    color: var(--dark-charcoal);
    font-weight: bold;
}

main{
    padding: 1rem;
    background-color: var(--soft-white);
}

main > section{
    margin: 2rem auto;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--champagne-gold);
}

main h2{
    font-size: 1.5rem;
    margin: 0.5rem auto;
}

main section p, main section li, footer p{
    font-size: 0.75rem;
    line-height: 1.25rem;
}

#welcome{
    margin-top: 3rem;
}

.offer-grid div{
    background-color: var(--olive-green);
    margin: 1rem auto 0;
    padding: 1rem 0.75rem;
    color: var(--linen);
    border-radius: 5px;
    box-shadow: 2px 2px 4.5px rgb(200,200,200);
}

#offerings h3{
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

#offerings div li{
    list-style-type: disc;
    list-style-position: inside;
}

.gallery-grid div{
    background-color: var(--soft-white);
    margin: 1rem auto;
    border-radius: 5px; 
    box-shadow: 2px 2px 4.5px rgb(200,200,200);
    overflow: hidden;
}

#gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-grid div p{
    text-align: center;
    padding: 0.5rem;
    font-style: italic;
}

#gallery a{
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--linen);
    background-color: var(--olive-green);
}

footer{
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 2rem;
}

footer p{
    font-size: 0.75rem;
    padding-top: 2rem;
    color: var(--linen);
}

footer a{
    text-decoration: none;
    color: var(--champagne-gold);
    font-weight: bold;
}

@media screen and (min-width: 600px){

    body{
        max-width: 900px;
    }

    header img{
        width: 30%;
    }

    .offer-grid{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .offer-grid div{
        display: block;
        margin-top: 0;
        
    }

    .monthly-bask{
        grid-column: 1/-1;
        width: 100%;
    }

    .gallery-grid{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .gallery-grid div{
        margin: 0;
    }

    .gallery a{
        margin-top: 1rem;
    }
}

@media screen and (min-width:900px){
    body{
        max-width: 100%
    }

    header img{
        width: 20%;
    }

    .gallery-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px){

    body{
        background-color: var(--soft-white);
    }

    header img{
        width: 10%;
    }

    main{
        max-width: 900px;
        margin: auto;
    }

    .gallery-grid{
        display: flex;
    }
}